@model NeoForum.Models.Article

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удаление</h2>

<h2>Вы действительно хотите удалить данную статью?</h2>

<div class="articles-list">
    <div>
        <h2 class="section-title">@Html.DisplayFor(model => model.Title)</h2>
        <p>@Html.DisplayNameFor(model => model.Categories):</p>
        <p>@Html.DisplayFor(model => model.Categories)</p>
        <textarea class="txta" style="resize:none; min-height:300px; width:100%;" disabled>@Html.DisplayFor(model => model.Text)</textarea>
        <div class="container__name__time__details">
            <div>
                <p>@Html.DisplayNameFor(model => model.Author):</p>
                <p>@Html.DisplayFor(model => model.Author)</p>
            </div>
            <p>Дата написания: @Html.DisplayFor(model => model.When)</p>   
        </div>
    </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary">Назад</a>
    </form>
</div>
