@model NeoForum.Models.Article

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="section-title">Обзор</h2>

<div class="articles-list">
    <div>
        <h2 class="section-title">@Html.DisplayFor(model => model.Title)</h2>
        <p>@Html.DisplayNameFor(model => model.Categories):</p>
        <p>@Html.DisplayFor(model => model.Categories)</p>
        <textarea class="txta" style="resize:none; min-height:300px; width:100%;" disabled>@Html.DisplayFor(model => model.Text)</textarea>
        <div class="container__name__time__details">
            <div>
                <p>@Html.DisplayNameFor(model => model.Author):</p>
                <p>@Html.DisplayFor(model => model.Author)</p>
            </div>
            <p>Дата написания: @Html.DisplayFor(model => model.When)</p>   
        </div>
    </div>
</div>
<div>
    @if(User.IsInRole("Admin"))
    {
       <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Изменить</a>
    }
    <a asp-action="Index" class="btn btn-primary">Назад</a>
</div>
