@model IEnumerable<NeoForum.Models.Article>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="main__title">Статьи</h2>
@if(User.IsInRole("Admin"))
{
    <p>
       <a asp-action="Create" class="btn btn-sm btn-primary">Создать новую статью</a>
    </p>
}

<div class="articles-list">
    <div>
    @foreach (var item in Model) 
    {
        <div class="container articles-list-item">
            <div class="container__name__time">
                <a asp-action="Details" asp-route-id="@item.Id" class="articles-link">@Html.DisplayFor(modelItem => item.Title)</a>
                <p class="articles-text-time">@Html.DisplayFor(modelItem => item.When)</p>
            </div>
            <p class="articles-text">@Html.DisplayFor(modelItem => item.Text)</p>
            @if(User.IsInRole("Admin"))
            {
               <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Изменить</a>
               <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Удалить</a>
            } 
        </div>
    }       
    </div>   
</div>
